* {
    color: inherit;
}

body:has(nav) {
    padding-top: calc(60px + var(--space-lg));
}

body {
    font-family: var(--body-font);
    font-size: var(--body-font-size);
    color: var(--body-text-color);
    background-color: var(--body-color);
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

.to-end { 
    margin-left: auto;
}

h1 {
    margin: 0;
    padding: var(--space-v-lg) 0;

    text-transform: uppercase;
    font-family: var(--h1-font);
    font-size: var(--h1-font-size);
    text-align: center;
    font-weight: 700;
}

h2 {
    margin: 0;
    padding: 0;

    align-content: center;
    text-transform: uppercase;
    font-family: var(--h2-font);
    font-size: var(--h2-font-size);
    font-weight: 700;
}

h3 {
    margin: 0;
    padding: 0;
    
    align-content: center;
    font-family: var(--h3-font);
    font-size: var(--h3-font-size);
    font-weight: 700;
}

h4 {
    margin: 0;
    padding: 0;
    
    align-content: center;
    font-family: var(--h4-font);
    font-size: var(--h4-font-size);
    font-weight: 700;
}

h5 {
    margin: 0;
    padding: 0;

    font-family: var(--h5-font);
    font-size: var(--h5-font-size);
    font-weight: 400;
}

p {
    margin: 0;
    margin-bottom: var(--space-sm);
    padding: 0;
    text-align: justify;
    text-indent: 20px;
    font-family: var(--body-font);
    font-size: var(--body-font-size);
}

.long-text {
    column-width: 25em;
    column-gap: var(--space-med);
}

.code {
    padding: var(--space-med);
    margin: 0;
    box-sizing: border-box;
    font-family: var(--code-font);
    font-size: var(--code-font-size);
    background-color: var(--element-color);
    border-radius: var(--radius-med);
}

pre {
    margin: 0;
    padding: 0;
}

img {
    background-color: var(--element-color);
    width: 100%;
    height: 100%;
}

.image {
    width: 100%;
    background-color: var(--element-color);
    border-radius: var(--radius-med);
    position: relative;
    overflow: hidden;
    z-index: -1;
}

.image .description {
    width: 100%;
    box-sizing: border-box;
    padding: var(--space-med) var(--space-med) var(--space-sm);
    position: absolute;
    bottom: 0;
    color: white;
    background-image: linear-gradient(transparent, black);
}

.hidden {
    display: none;
}

/** INPUT **************************************/

input,
button {
    height: var(--input-height);
    font-size: var(--body-text-size);
    font-family: var(--body-font);
    color: var(--body-text-color);
    
    box-sizing: border-box;
}

input[type="text"], 
input[type="email"], 
input[type="password"] {
    background-color: var(--element-color);
    color: var(--element-text-color);
    border-radius: var(--radius-sm);
    outline: none;
    border: none;
    padding: var(--space-v-sm) var(--space-med);
}

input[type="file"]::file-selector-button {
    font-family: var(--body-font);
    margin-right: var(--space-sm);
    background-color: var(--element-color);
    color: var(--element-text-color);
    border-radius: var(--radius-sm);
    outline: none;
    border: none;
    padding: var(--space-v-sm) var(--space-sm);
}

/* RANGE INPUT */

input[type="range"] {
    height: auto;
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
    border-radius: var(--radius-med);   
    border: var(--line-width) solid transparent;
    padding: 0;
    margin: 0;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type="range"]::-ms-track {
    width: 100%;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: var(--space-med);
    width: var(--space-med);
    border-radius: var(--radius-med);
    background: var(--accent-color);
    cursor: pointer;
    margin-top: calc(-1 * var(--space-v-sm));
}

input[type="range"]:focus {
    border: var(--line-width) solid var(--element-text-color);
}

/* All the same stuff for Firefox */
input[type="range"]::-moz-range-thumb {
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: var(--accent-color);
  cursor: pointer;
}

/* All the same stuff for IE */
input[type="range"]::-ms-thumb {
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: var(--accent-color);
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: var(--space-sm);
    cursor: pointer;
    background: transparent;
    border-radius: var(--radius-med);
    border: none;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
    background: transparent;
}

input[type="range"]::-moz-range-track {
    width: 100%;
    height: var(--space-sm);
    cursor: pointer;
    background: transparent;
    border-radius: var(--radius-med);
    border: none;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type="range"]::-ms-fill-lower {
    background: transparent;
    border-radius: var(--radius-med);
}

input[type="range"]:focus::-ms-fill-lower {
    background: transparent;
}

input[type="range"]::-ms-fill-upper {
    background: transparent;
    border-radius: var(--radius-med);
}

input[type="range"]:focus::-ms-fill-upper {
    background: transparent;
}

.range-label {
    display: flex;
    justify-content: space-between;
}

.range-wrap {
    width: 100%;
    height: var(--space-sm);
}

.range-dot-wrap {
    z-index: -1;
    position: relative;
    top: -17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 calc(var(--space-v-sm) + 2 * var(--line-width));
    
    background-color: var(--element-color);
    border-radius: var(--radius-sm);
    height: var(--space-sm);
    margin-bottom: calc(-1 * var(--space-sm));
}

.range-dot {
    width: var(--space-v-sm);
    height: var(--space-v-sm);
    border-radius: var(--radius-sm);
    background-color: var(--element-element-color);
}


/* CHOICE INPUT */

.choice-input input[type="radio"],
.choice-input input[type="checkbox"] {
    display: none;
}

select {
    background-color: var(--element-color);
    font-size: var(--body-text-size);
    font-family: var(--body-font);
    color: var(--element-text-color);
    border-radius: var(--radius-sm);
    outline: none;
    border: none;
    padding: var(--space-v-sm) var(--space-sm);
}

select option {
    background-color: var(--element-color);
    color: var(--element-text-color);
}

input[type="text"].heading-text {
    align-content: center;
    font-family: var(--h3-font);
    font-size: var(--h3-font-size);
    font-weight: bold;
    width: 100%;
}

.center-up-down {
    display: flex;
    align-items: center;
    vertical-align: middle;
    gap: var(--space-sm);
}

.submit-row {
    float: right;
    float: bottom;
}

@media only screen and (max-width: 450px) {
    .can-hide-450 {
        display: none;
    }
}

button[type="reset"] {
    width: auto;
    padding: 0 var(--space-sm);
    margin: 0 var(--space-sm);
    
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: var(--space-sm);
}

button[type="reset"]:hover {
    background-color: var(--element-color);
}

#register-button {
    background-color: var(--accent-element-color);
    margin: 0 auto;
    outline: var(--space-v-sm) solid var(--accent-element-color);
}

#register-button:hover {
    background-color: var(--accent-color);
}

.big-link-button {
    padding: var(--space-sm);
    width: var(--button-width);
    display: block;
    
    font-family: var(--body-font);
    font-size: var(--h3-font-size);
    font-weight: bold;
    text-align: center;
    
    color: var(--accent-text-color);
    text-decoration: none;
    
    border-radius: var(--radius-v-lg);
    transition: background-color var(--hover-fade-speed);
    background-color: var(--accent-color);
}

.big-link-button:hover {
    background-color: var(--accent-element-color);
    color: var(--accent-text-color);
}

fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

button {
    height: var(--icon-button-width);
    width: var(--button-width);

    display: inline-block;
    align-content: center;
    text-align: center;
    padding: auto var(--space-sm);

    font-family: var(--body-font);
    font-size: var(--body-font-size);
    text-decoration: none;
    color: var(--body-text-color);
    background-color: transparent;
    border-radius: var(--radius-v-lg);
    outline: none;
    border: none;
    transition: background-color var(--hover-fade-speed);
}

button:hover {
    background-color: transparent;
}

button[type="submit"] {
    color: var(--accent-text-color);
    background-color: var(--accent-color);
    outline: none;
}

button[type="submit"]:hover {
    background-color: var(--accent-element-color);
}

.bookmarked {
    color: var(--bookmark-saved-color);
    font-variation-settings: 'FILL' 1 !important;
}

textarea {
    margin: 0;
    padding: var(--space-v-sm) var(--space-sm);
    height: 100%;
    
    border-radius: var(--radius-sm);
    background-color: var(--element-color);
    color: var(--element-text-color);

    text-indent: 20px;
    font-family: var(--body-font);
    font-size: var(--body-font-size);
    resize: none;
    border: none;
    outline: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus,
button:focus,
.button-icon:focus,
.link-icon:focus,
.icon:focus,
a:focus {
    outline: var(--line-width) solid var(--element-text-color);
}

::placeholder {
    color: var(--placeholder-text-color);
    opacity: 1;                                                     /* Firefox */
}

::-ms-input-placeholder {                                           /* Edge 12 -18 */
    color: var(--placeholder-text-color);
}


.slide-select input[type="radio"] {
    display: none;
}

.slide-select .active {
    background-color: var(--element-color);
}

#add-content {
    display: flex;
    justify-content: center;
}

#add-content button {
    background-color: var(--element-color);
    min-width: var(--button-width);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-sm);
}

#add-content button:hover {
    background-color: var(--element-element-color);                 /* TODO: Make outline not darken */
}

/** ACCENT SEARCH BAR *************************/

#accent-search-bar {
    display: flex;
    gap: var(--space-sm);
    align-items: center;
    color: var(--accent-text-color);
}
#accent-search-bar input {
    background-color: var(--accent-element-color);
    border-radius: var(--radius-v-lg);
}

#accent-search-bar * {
    color: inherit;
}

#accent-search-bar ::placeholder {
    color: var(--accent-placeholder-text-color);
    opacity: 1;                                                       /* Firefox */
}

#accent-search-bar ::-ms-input-placeholder {                          /* Edge 12 -18 */
    color: var(--accent-placeholder-text-color);
}

/** ICONS **************************************/

.material-symbols-rounded {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}

.noselect,
.material-symbols-rounded {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Safari */
    -khtml-user-select: none;    /* Konqueror HTML */
    -moz-user-select: none;      /* Old versions of Firefox */
    -ms-user-select: none;       /* Internet Explorer / Edge */
    user-select: none;           /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.button-icon {
    align-items: center;
    vertical-align: middle;
}

button.button-icon,
.button-icon,
a.link-icon,
.link-icon,
.icon {
    width: var(--icon-button-width);
    height: var(--icon-button-width);
    padding: 0;
    margin: 0;
    display: inline-flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    text-align: center;
    border-radius: var(--radius-sm);
    text-decoration: none;
    color: var(--body-text-color);
    background-color: transparent;
    outline: none;
    border: none;
    transition: background-color var(--hover-fade-speed);
    flex-shrink: 0;
}

.link-icon:hover,
.button-icon:hover {
    background-color: var(--element-color);
}

.icon-separator {
    width: var(--nav-line-width);
}

/** FORMATTING *********************************/

.content-box,
.content-box-sm {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 var(--space-med);

    min-width: 0;
    width: auto;
    max-width: var(--body-width);
}

.content-box-sm {
    max-width: var(--body-width-sm);
}

.content {
    margin: 0;
    min-width: 0;
    width: 70%;
    display: inline-block;
    flex-grow: 1;
    flex-shrink: 1;
}

.content-group {
    display: flex;
    min-width: 0;
    width: 100%;
    gap: var(--space-sm);
}

.space-before-lg {
    margin-top: var(--space-lg);
}

.space-after-sm {
    margin-bottom: var(--space-sm);
}

.space-after-med {
    margin-bottom: var(--space-med);
}

.space-after-lg {
    margin-bottom: var(--space-lg);
}

.element-group {
    display: inline-flex;
    gap: var(--space-sm);
}

.stackable-group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--content-width)), 1fr));
    min-width: 0;
    width: 100%;
    max-width: 100%;
    gap: var(--space-med);

}

.stackable-group > * {
    min-width: 0;
    max-width: 100%;
}

.content ol,
.content ul {
    margin-left: var(--space-sm);
}

.content li {
    margin-bottom: var(--space-sm);
}

#card-tags {
    display: inline-block;
}

.tag {
    padding: var(--space-v-sm) var(--space-sm);
    border-radius: var(--radius-sm);
    color: var(--element-text-color);
    text-align: center;
    align-content: center;
}

.tag:hover {
    background-color: var(--element-color);
}

/* Text Area Wrap */
.grow-wrap {
    margin-bottom: var(--space-sm);
    padding-bottom: var(--space-sm);
    display: grid;
}

.grow-wrap::after {
    content: attr(data-replicated-value) " ";
    white-space: pre-wrap;
    visibility: hidden;
}

.grow-wrap > textarea {
    resize: none;
    overflow: hidden;
}

.grow-wrap > textarea,
.grow-wrap::after {
    grid-area: 1 / 1 / 2 / 2;
}

.hidden {
    display: none;
}

/** FLASH CARD *********************************/

.flash-card-wrap {
    border: var(--line-width) solid var(--element-color);
    border-radius: var(--radius-med);
    padding: var(--space-med);
    box-sizing: border-box;
}

/** NAVBAR *************************************/

.nav {
    background-color: var(--accent-color);
    color: var(--accent-text-color);

    width: 100%;
    position: fixed;
    top: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-sm);

    outline: var(--nav-line-width) dashed var(--accent-element-color);
    outline-offset: var(--space-v-sm);
}

.nav > :first-child {
    overflow: hidden;
}

.nav ul {
    color: inherit;

    list-style-type: none;

    margin: 0;
    padding: var(--space-sm);

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-sm);
}

.nav ul * {
    color: inherit;
}

.nav-item * {
    text-decoration: none;
}

.nav-item {
    font-family: var(--body-font);
    font-size: var(--body-font-size);
    transition: background-color var(--hover-fade-speed);
    border-radius: var(--radius-sm);
    height: 40px;
    display: inline-flex;
    align-items: center;
}

.nav-item > * {
    width: 100%;
    height: 100%;
    
    padding: var(--space-v-sm) var(--space-sm);
    border-radius: var(--radius-sm);
    
    display: inline-flex;
    align-items: center;
    
    white-space: nowrap;
    overflow: hidden;
}

.nav-item:hover {
    background-color: var(--accent-element-color);
}

.nav-separator {
    background-color: var(--accent-element-color);
    min-width: var(--nav-line-width);
    width: var(--nav-line-width);
    height: 20px;
    border-radius: var(--radius-sm);
}

.nav-cut-overflow {
    max-width: var(--nav-cut-overlap-max-width);
}

.nav-cut-overflow > * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nav-group-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-v-sm);
}

.nav-group-item * {
    display: inline-block;
}

.nav-active {
    background-color: var(--accent-element-color);
}

.nav-main-link {
    font-weight: 700;
}

.nav-can-show {
    display: none !important;
}

@media only screen and (max-width: 800px) {
    .nav-can-hide {
        display: none;
    }
    
    .nav-can-show {
        display: inline-block !important;
    }
}

/** ACCENT BOXES *******************************/

.header-transition {
    height: var(--transition-height);
    width: 100%;
    padding: 0;
    margin: 0;
}

.accent-box {
    width: 100%;
    margin: 0;
    margin-top: calc(-1 * var(--space-lg));
    padding: var(--space-med) 0;

    background-color: var(--accent-color);
    color: var(--accent-text-color);
}

.secondary-accent-box {
    width: 100%;
    margin: 0;
    margin-top: -10px;
    padding: var(--space-med) 0;

    background-color: var(--secondary-accent-color);
    color: var(--secondary-accent-text-color);
}

.course {
    outline: var(--nav-line-width) solid var(--element-color);
    background-color: var(--element-color);
    color: var(--element-text-color);
    padding: var(--space-sm) var(--space-med);
    min-width: 0;
    width: auto;
    border-radius: var(--radius-med);
    text-decoration: none;
}

.course:hover {
    background-color: transparent;
}

.course * {
    color: inherit;
    text-decoration: none;
}
