<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="charset" content="utf-8"/>
    <meta charset="utf-08">
    <title>Empty Card | Raven</title>

    <link rel="icon" type="image" href="{{url_for('static', filename='favicon-white')}}" async>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='consts.css')}}" />
    
    <script src="{{ url_for('static', filename='card-edit.js') }}" defer></script>
    <script> const cardId = "0001";</script>

    <!-- Import Google Material Symbols from Google Fonts  -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  </head>

  <body>
    <nav id="nav" class="nav">
      <ul>
        <li class="nav-item">
          <a href="{{url_for('index')}}" class="nav-group-item">
            <span class="icon" aria-hidden="true">
              <svg viewBox="0 0 181 181" xmlns="http://www.w3.org/2000/svg">
                <path fill="var(--accent-text-color)" d="m125,135h-10c-3.5,0-6,2.5-6,6c0,3.5,2.5,6,6,6h35c3.25,0,6-2.75,6-6c0-3.5-2.75-6-6-6h-10.5l-10-17l12-7c9.5-6.5,16.5-15.5,19.5-26.5l9.5-35l11.5-3c3-1,5-4.5,5-6c0-2-2-5-5-6l-22.5-6c-9-3.5-19,0-24,8l-1.5,2.5c-7,10.5-12.5,13.5-12.5,13.5l-112,65c-3,1.5-4,5.5-2.5,8.5c1.5,3,5.5,4,8.5,2l71-41h33c3.5,0,6.5-2.5,6.5-6c0-3-3-6-6-6h-13l20.5-11.5c7-4.5,13-11,17-18.5l1.5-2.5c1.5-2.5,5-4,8-2.5c3,1,4.5,4.5,4,7.5l-9.5,33.5c-2,8-7.5,15-14.5,19.5l-29,17c-3,1.5-4,5.5-2.5,8.5c2,3,5.5,4,8.5,2l7-4zm-51.5-18c-3,1.5-4,5.5-2.5,8.5c2,3,5.5,4,8.5,2.5l30-17.5c3-1.5,4-5.5,2.5-8.5c-2-3-5.5-4-8.5-2zm-33.5,1c-3,1.5-4,5.5-2.5,8.5c2,3,5.5,4,8.5,2.5l30-17.5c3-1.5,4-5.5,2.5-8.5c-2-3-5.5-4-8.5-2z" />
              </svg>
            </span>
            <div class="nav-main-link">Raven</div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-group-item" href="{{url_for('discover')}}">
            <span class="material-symbols-rounded" aria-hidden="true">explore</span>
            <span>Discover</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-group-item" href="{{url_for('myCourses')}}">
            <span class="material-symbols-rounded" aria-hidden="true">school</span>
            <span>My Courses</span>
          </a>
        </li>
        <li class="nav-separator nav-can-hide"></li>
        <li class="nav-item nav-can-hide"><a href="{{url_for('course_next')}}">Course</a></li>
        <li class="nav-item nav-cut-overflow nav-active nav-can-hide"><a href="{{url_for('cardEdit')}}">Edit Card</a></li>
      </ul>

      <ul>
        <li class="nav-item">
          <a href="profile.html" class="nav-group-item" aria-label="profile">
            <span class="nav-can-hide">Hello, John</span>
            <span class="material-symbols-rounded" aria-hidden="true">account_circle</span>
          </a>
        </li>
      </ul>
    </nav>

    <main>
      <div class="space-before-lg content-box "> 

          <div class="content">
            <div class="content content-group space-after-lg">
              <span class="material-symbols-rounded icon" aria-hidden="true" aria-label="computer science">terminal</span>
              <h3 class="content">CSC 481 | Senior Project I | Chapter 1</h3>
              <button type="submit" class="submit" onClick="save()">Save</button>
            </div>

            <div class="content" id="content-wrap">
              <div class="content content-group space-after-lg" id="content-5" data-content-type="long_text">
                <span class="material-symbols-rounded icon" aria-hidden="true" aria-label="text">article</span>
                <div class="content">
                  <div class="content-group space-after-med">
                    <div class="content">
                      <select name="content-type" onChange="changeContentType('content-5')" id="content-5-type-drop-down">
                        <option value="header">Heading</option>
                        <option value="long_text" selected>Text</option>
                        <option value="media">Media</option>
                        <option value="question">Question</option>
                        <option value="flash">Flash Card</option>
                      </select>
                    </div>
                    <button class="button-icon icon" aria-label="delete content" onClick="deleteContent('content-5');">
                      <span class="material-symbols-rounded" aria-hidden="true">delete</span>
                    </button>
                    <button class="button-icon icon" aria-label="move content up" onClick="moveContentUp('content-5');">
                      <span class="material-symbols-rounded" aria-hidden="true">keyboard_arrow_up</span>
                    </button>
                    <button class="button-icon icon" aria-label="move content down" onClick="moveContentDown('content-5');">
                      <span class="material-symbols-rounded" aria-hidden="true">keyboard_arrow_down</span>
                    </button>
                  </div>
                  <div class="content grow-wrap">
                    <textarea onInput="this.parentNode.dataset.replicatedValue = this.value;" placeholder="Text"></textarea>
                  </div>
                </div>
              </div>
              
            </div>
            <div id="add-content">
              <button onClick="addLongText()">
                <span class="material-symbols-rounded" aria-hidden="true" aria-label="add content">Add</span>
                <span>Add content</span>
              </button>
            </div>
          </div>
      </div>
    </main>
  </body>
</html>
