
<!DOCTYPE html>
<html>
  {% include "head.html" %} 

  <body>
    {% include "navbar.html" %}

    <main>
      <div class="content-box">
        <div class="content-group">
          <div>
            <a href="course_previous.html" class="link-icon" aria-label="back">
              <span class="material-symbols-rounded" aria-hidden="true">arrow_back</span>
            </a>
          </div>

          <div class="content">
            <div class="content-group">
            {% if "header" in next_card %}
                <h3>{{ next_card["header"] }}</h3>
            {% endif %}
              <button id="bookmark" class="button-icon" aria-label="bookmark">
                <span class="material-symbols-rounded bookmarked" aria-hidden="true">bookmark</span>
              </button>
            </div>

            <div class="stackable-group">
            <div class="content">
                {% if next_card.get("image")%}
                <img src="{{ url_for('static', filename=next_card['image'])}}" alt="A glass room with a lot of flowers and plants." />
                {% endif %}
            </div>

              <div class="content">
                <div class="question">
                  <form id="question" method="POST"  action="{{ url_for('checkAnswer')}}">
                    <fieldset>
                      {% if next_card["multiple_choice"] %}
                          <div class="form-row">
                              {% for choice in next_card["multiple_choice"] %}
                                  <div class="form-row">
                                      <input type="radio" name="choice" value="{{ loop.index0 }}">
                                      <label>{{ choice }}</label>
                                  </div>
                              {% endfor %}
                          </div>
                      {% endif %}

                      {% if next_card["response_select_all_choice"] %}
                        <div class="form-row">
                            {% for choice in next_card["response_select_all_choice"] %}
                                <div class="form-row">
                                    <input type="checkbox" name="choice" value="{{ loop.index0 }}">
                                    <label>{{ choice }}</label>
                                </div>
                            {% endfor %}
                        </div>
                      {% endif %}

                      {% if next_card["response_select_all_choice"] or next_card["multiple_choice"] %}
                      <div class="submit-row">
                        <button type="reset">
                          Clear
                          <span class="material-symbols-rounded" aria-hidden="true">close</span>
                        </button>
                         <button  type="submit"> Submit</button>
                         <script>
                                  window.onload = function() {
                                  let isCorrect = "{{ isCorrect }}"; 
  
                                  if (isCorrect === "True") {
                                    document.getElementById("correctMessage").style.display = "block";
                                    document.getElementById("incorrectMessage").style.display = "none";
                                  } else if (isCorrect === "False"){
                                    document.getElementById("correctMessage").style.display = "none";
                                    document.getElementById("incorrectMessage").style.display = "block";
                                  } else{
                                    document.getElementById("correctMessage").style.display = "none";
                                    document.getElementById("incorrectMessage").style.display = "none";                                }
                                };
                        </script>
                      </div>
                      {% endif %}
                  </fieldset>
                  </form>
                </div>
              </div>
            </div>

         
            <div class="content" style="display: none;" id="correctMessage">
                <h3  style= "color: green;">Correct Answer!</h3>    
            </div>

            <div class="content" style="display: none;" id="incorrectMessage">
              {% if "question_incorrect" in next_card %}
              <h3   style="color: red;"> {{  next_card['question_incorrect']  }} </h3> 
              {% endif %} 
            </div>
            
            <!-- <div class="content">
              <pre class="code"><code>&lt;div class="form-row">
  &lt;input type="radio" id="option0" name="question0" />
  &lt;label for="option0">Greenhouse&lt;/label>
&lt;/div>
&lt;div class="form-row">
  &lt;input type="radio" id="option1" name="question0" />
  &lt;label for="option1">Library&lt;/label>
&lt;/div>
&lt;div class="form-row">
  &lt;input type="radio" id="option2" name="question0" />
  &lt;label for="option2">Duck pond&lt;/label>
&lt;/div>
&lt;div class="form-row">
  &lt;input type="radio" id="option3" name="question0" />
  &lt;label for="option3">Highschool&lt;/label>
&lt;/div></code></pre>
            </div> -->
            
            <div class="content" style="display: block;">
              <div class="long-text">
                <p id="longText">
                  {% if "long-text" in next_card %}
                    {% if next_card["long-text"] is iterable and next_card["long-text"] is not string %}
                        {% for text in next_card["long-text"] %}
                            {{ text }}
                        {% endfor %}
                    {% else %}
                        {{ next_card["long-text"] }}
                    {% endif %}
                  {% endif %}              
              </p>              
              </div>
            </div>
            
            <div class="content" style="display: none;">
                <ol id="numberList" >
                {% for choice in number_list %}
                    <li>{{ choice }}</li>
                {% endfor %}
                </ol>
            </div>
            
            <div class="content" style="display: none;">
                <ul id="bulletList" >
                    {% for choice in bullet_list %}
                        <li>{{ choice }}</li>
                    {% endfor %}
                    </ul>
            </div>
          </div>

          <div>
            <a href="{{url_for('course_next')}}" class="link-icon" aria-label="next">
              <span class="material-symbols-rounded" aria-hidden="true">arrow_forward</span>
            </a>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
