<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="charset" content="utf-8" />
    <meta charset="utf-8" />
    <title>CSC 481 | Senior Project I | Raven</title>

    <link rel="icon" type="image" href="{{url_for('static', filename='favicon-white')}}">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='consts.css')}}" />
    <script src="{{ url_for('static', filename='course-edit.js') }}" defer></script>

    <!-- Import Google Material Symbols from Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  </head>

  <body>
    {% include "navbar.html" %}

    <main>
      <div class="content-box">
        <div class="content-group">
          <div class="content">
            <div class="content-group space-after-med">
              <span class="material-symbols-rounded icon" aria-hidden="true" id="course-icon">terminal</span>
              <input type="text" class="heading-text content" value="CSC 481 | Senior Project I" placeholder="Course name" />
              </div>

              <div class="content stackable-group space-after-lg">
                <div class="content">
                  <div class="content-group center-up-down">
                    <label for="course-catagory">Catagory</label>
                    <select name="course-catagory" id="course-catagory" onchange="updateCourseIcon()">
                      <option value="OTH">Other</option>
                      <option value="ART">Arts</option>
                      <option value="COR">Core</option>
                      <option value="TEC" selected>Technology</option>
                      <option value="GE ">Engineering</option>
                      <option value="ENG">English</option>
                    </select>
                  </div>
                </div>
              </div>
              
              <div class="content">
  
                <div class="content content-group">
                  <input class="content heading-text space-after-med" type="text" placeholder="Chapter name" value="Chapter 1" />
                </div>
                
                <div class="content content-group space-after-med" style="display: flex; align-items: center; gap: 0.5rem;">
                  <span class="material-symbols-rounded icon" aria-hidden="true" aira-label="question">article</span>
                      {% if data %}
                        <ul style="list-style-type: none; margin: 0; padding: 0; display: flex; flex-direction: column; gap: 0;">
                          {% for choice in data %}
                            <li name="choice" value="{{ loop.index0 }}">
                            <h3>
                            <a href="{{ url_for('course_next', card_id=choice.id) }}">{{ choice.name }}</a>
                            </h3>  
                            </li>
                            {% endfor %}
                        </ul>
                      {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </body>
  </html>