
<!DOCTYPE html>
<html>
  {% include "head.html" %}
   
  <script>
    let cardId = "{{ card_id }}";
    let isBooked = JSON.parse("{{ isBooked | default(false) | tojson  }}");  

    document.addEventListener("DOMContentLoaded", function () {
        updateBookmarkIcon(); 
    });

    function toggleBookmark(event) {
        isBooked = !isBooked;
        updateBookmarkIcon();  
    }

    function updateBookmarkIcon() {
        const bookmark = document.getElementById("bookmark");
        if (isBooked) {
            bookmark.classList.add("bookmarked");
        } else {
            bookmark.classList.remove("bookmarked");
        }
    }
</script>

  <body>
    {% include "navbar.html" %}

    <main>
      <div class="space-before-lg content-box">
        <div class="content-group">
          <div>
            <a href="course_previous.html" class="link-icon" aria-label="back">
              <span class="material-symbols-rounded" aria-hidden="true">arrow_back</span>
            </a>
          </div>

          <div class="content">
            <div class="content-group space-after-lg">
              <div class="content"></div>
              <form id="isBookmarked" method="GET" action="{{url_for('save_bookmark')}}">
                <button class="button-icon" onClick="toggleBookmark(event)" aria-label="bookmark">
                  <span id="bookmark" class="material-symbols-rounded" aria-hidden="true">bookmark</span>
                </button>
              </form>
              </div>
                         
          {% for card in next_card %}
            {{ card | safe }}
          {% endfor %} 

            <div class="content space-after-lg" style="display: none;" id="correctMessage">
                <h3 class="content space-after-sm" style= "color: green;">Correct Answer!</h3>    
            </div>
            <!-- <div class="content" style="display: block;">
            </div>  -->
          </div>
          <div>
            <a href="{{ url_for('course_next') }}" class="link-icon" aria-label="next">
              <span class="material-symbols-rounded" aria-hidden="true">arrow_forward</span>
            </a>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
