
  <head>
    <meta charset="utf-08">
    <title>CSC 482 | Raven</title>
  
    <link rel="icon" type="image" href="{{ url_for('static', filename='favicon-white.jpg')}}">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='consts.css')}}" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  </head>
