<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="charset" content="utf-8" />
    <meta charset="utf-8" />
    <title>Profile | Raven</title>

    <link rel="icon" type="image" href="images/favicon-white.png" async />

    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/consts.css" />

    <!-- Import Google Material Symbols from Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  </head>

  <body>
    <nav id="nav" class="nav">
      <ul>
        <li class="nav-item">
          <a href="{{url_for('index')}}" class="nav-group-item">
            <span class="icon" aria-hidden="true">
              <svg viewBox="0 0 181 181" xmlns="http://www.w3.org/2000/svg">
                <path fill="var(--accent-text-color)" d="m125,135h-10c-3.5,0-6,2.5-6,6c0,3.5,2.5,6,6,6h35c3.25,0,6-2.75,6-6c0-3.5-2.75-6-6-6h-10.5l-10-17l12-7c9.5-6.5,16.5-15.5,19.5-26.5l9.5-35l11.5-3c3-1,5-4.5,5-6c0-2-2-5-5-6l-22.5-6c-9-3.5-19,0-24,8l-1.5,2.5c-7,10.5-12.5,13.5-12.5,13.5l-112,65c-3,1.5-4,5.5-2.5,8.5c1.5,3,5.5,4,8.5,2l71-41h33c3.5,0,6.5-2.5,6.5-6c0-3-3-6-6-6h-13l20.5-11.5c7-4.5,13-11,17-18.5l1.5-2.5c1.5-2.5,5-4,8-2.5c3,1,4.5,4.5,4,7.5l-9.5,33.5c-2,8-7.5,15-14.5,19.5l-29,17c-3,1.5-4,5.5-2.5,8.5c2,3,5.5,4,8.5,2l7-4zm-51.5-18c-3,1.5-4,5.5-2.5,8.5c2,3,5.5,4,8.5,2.5l30-17.5c3-1.5,4-5.5,2.5-8.5c-2-3-5.5-4-8.5-2zm-33.5,1c-3,1.5-4,5.5-2.5,8.5c2,3,5.5,4,8.5,2.5l30-17.5c3-1.5,4-5.5,2.5-8.5c-2-3-5.5-4-8.5-2z"></path>
              </svg>
            </span>
            <span class="nav-main-link nav-can-hide">Raven</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-group-item" href="{{url_for('discover')}}">
            <span class="material-symbols-rounded" aria-hidden="true">explore</span>
            <span class="nav-can-hide">Discover</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-group-item" href="{{url_for('course')}}">
            <span class="material-symbols-rounded" aria-hidden="true">school</span>
            <span class="nav-can-hide">My Courses</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-group-item" href="{{url_for('course')}}">
            <span class="material-symbols-rounded" aria-hidden="true">bookmarks</span>
            <span class="nav-can-hide">My Bookmarks</span>
          </a>
        </li>
      </ul>

      <ul>
        <li class="nav-item nav-active">
          <a href="{{url_for('profile')}}" class="nav-group-item" aria-label="profile">
            <span class="nav-can-hide">Hello, John</span>
            <span class="material-symbols-rounded" aria-hidden="true">account_circle</span>
          </a>
        </li>
      </ul>
    </nav>
    
    <main>
      <div class="content-box">
        <h2>PROFILE</h2>
      </div>
    </main>
  </body>
</html>
