<html lang="en">
<head>
  <title>Title of the document</title>
  <link href="{{ url_for('static', filename='styles.css')}}" rel="stylesheet"> <!--  link your css sheet here! -->
</head>

<script>
function checkAnswer(){
let correctValue = 0;

let options = document.getElementsByName("choice");
// let selectedValue = null;
let selectedIndex = null;

for (let i = 0; i < options.length; i++) {
    if (options[i].checked) {
        // selectedIndex = i;
        selectedValue = parseInt(options[i].value); //returns the value of the checked answer. 
        break;
    }
}

if (selectedValue === correctValue) {
            document.getElementById("correctMessage").style.display = "block";
            document.getElementById("incorrectMessage").style.display = "none";
        } else {
            document.getElementById("incorrectMessage").style.display = "block";
            document.getElementById("correctMessage").style.display = "none";
            document.getElementById("codeBlock").style.display = "block";
            document.getElementById("longText").style.display = "block";
            document.getElementById("numberList").style.display = "block";
            document.getElementById("bulletList").style.display = "block";
        }

}


</script>

<body>

    <h1>{{ name }}</h1>
    <h2>Chapter: {{ chapter }}</h2>   
    <div>
        
        {% if header %}
            <h4>{{ header }}</h4>
        {% endif %}
        {% if image %}
            <img src="{{url_for('static', filename=image)}}" alt="image" style="max-width: 500px;">
        {% endif %}
        {% if multiple_choice_options %}
            <form>
                <p>Select an answer:</p>
                {% for choice in multiple_choice_options %}
                    <div>
                        <input type="radio" name="choice" value="{{ loop.index0 }}" onclick="checkAnswer()">
                        <label>{{ choice }}</label>
                    </div>
                {% endfor %}
            </form>
        {% endif %}
    </div>
    <div> 
    <p id="correctMessage" style="display: none; color: green;">Correct Answer!</p>
    <p id="incorrectMessage" style="display: none; color: red;">{{ question_incorrect }}</p>
    
    <p id="codeBlock" style="display: none;">{{ code }}</p>
    
    <p id="longText" style="display: none;">
    {% for pa in long_text %}
        {{ pa }}
    {% endfor %}
    </p>

    <ol id="numberList" style="display: none;">
    {% for choice in number_list %}
        <li>{{ choice }}</li>
    {% endfor %}
    </ol>

    <ul id="bulletList" style="display: none;">
    {% for choice in bullet_list %}
        <li>{{ choice }}</li>
    {% endfor %}
    </ul>

    </div>

</body>
</html>